/* Some  Running Text Animation  Css Code  */

body {
    padding: 0;
    margin: 0;
  }
  
  .main-section {
    color: #ffffff !important;
    margin: 1rem 0 1rem 0;
    background: linear-gradient(
        45deg,
        rgba(120, 120, 250, 0.5) 10%,
        transparent 10%
      ),
      linear-gradient(65deg, transparent 70%, rgba(120, 120, 250, 0.5) 70%),
      linear-gradient(15deg, rgba(120, 120, 250, 0.5) 80%, transparent 80%),
      linear-gradient(25deg, rgba(120, 120, 250, 0.5) 30%, transparent 30%),
      linear-gradient(-35deg, rgba(120, 120, 250, 0.5) 50%, transparent 50%),
      rgba(120, 120, 250, 0.5);
  }
  